body {
  background-color: #202634;
}

a {
  color: rgb(222, 222, 222) !important;
}

/* Navbar */

.logo {
  width: 50px;
  height: 50px;
}

.navbar {
  background-color: #283044;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.searchBar {
  width: 400px;
}

.userAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dropdown-menu {
  color: white;
  background-color: rgb(56, 56, 56);
  position: absolute !important;
}

.dropdown-menu a:hover {
  background-color: grey;
}

/* Login */

/* Main */

section {
  display: flex;
  width: 600px;
  height: 430px;
}

section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

section img:hover {
  cursor: pointer;
  width: 300px;
  opacity: 1;
  /* filter: contrast(105%); */
}

.singleGenre {
  background-color: aquamarine;
  border-radius: 5px;
}

.platformImage {
  width: 50px;
  height: 50px;
}

/* Search */

.singleSearch {
  background-color: rgb(167, 230, 80);
}

.singleSearch:hover {
  cursor: pointer;
}

/* Game */

.gameInfo > div {
  background-color: #283044;
  border-radius: 20px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gameImage {
  width: 200px;
  border-radius: 10px;
}

.screenshots {
  width: 150px;
  border-radius: 10px;
}

.genres {
  background-color: #59626f;
  border: 2px solid #59626f;
  border-radius: 10px;
}

.genres:hover {
  cursor: pointer;
  border: 2px solid #59626f;
  background-color: #283044;
}
